html {
    font-family: IBM Plex Sans;
    background-color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

.hidden {
    display: none;
}

.bed-logo {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    padding: 20px;
    transition: transform 0.5s;
}

.bed-logo:hover {
    transform: scale(1.2);
}

.text {
    font-size: 20px;
}

.site {
    padding-top: 0%;
}

.menu {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 50% 10% 10% 10%;
    background-color: #EEEEEE;
}

.navbar {
    display: none;
    text-align: center;
}

#navBtn {
    grid-column: 3;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
}

#navBtn i {
    font-size: 36px;
}

#navbar-content {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    background-color: #EEEEEE;
    border: 2px solid white;
}

#navbar-content a {
    display: inline;
    padding: 15%;
    font-weight: bold;
    border: 2px solid white;
}

.menuItem {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

#logo {
    max-width: 250px;
    padding: 5%;
}

#hjem {
    grid-column: 1 / span 1;

    " background-color: #2196F3; "
}

#program {
    grid-column: 3 / span 1;

    " background-color: #2187A3; "
}

#bedrifter {
    grid-column: 4 / span 1;

    " background-color: #04F72D; "
}

#om {
    grid-column: 5 / span 1;

    " background-color: #6F00FF; "
}

h1#anim-2 {
    display: inline;
}

h1#anim-text {
    display: inline;
}

.hjem {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    border-radius: 10px;
    
}

.clock {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    
    font-weight: bold;
}

#days {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#hours {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#minutes {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#seconds {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.clockItem {
    font-size: 50px;
    " color: #FED879; "
    color: white;
}

#clockD {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#clockH {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#clockM {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#clockS {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.logos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

.logo-item {
    padding-top: 10%;
    padding-bottom: 10%;
}

.program {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.program-item {
    margin: 4%;
    padding: 6%;
    background-color: #EEEEEE;
}

#onsdag {

}

#torsdag {

}

#fredag {

}

.om {
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.portrett {
    max-width: 250px;
    max-height: 450px;
}

#om-tekst {
    grid-column: 1 / span 3;
}

#elias {
    grid-row: 2 / span 1;
}

#andreas {
    grid-row: 2 / span 1;
}

#tuva {
    grid-row: 2 / span 1;
}

.navn {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.tittel {
    text-align: center;
}

.mail {
    text-align: center;
}

#om-tekst {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-device-width: 415px), (max-width: 900px) {
    .menu {
        grid-template-columns: 60% 10% 30%;
        overflow: hidden;
    }

    .menuItem {
        display: none;
    }

    .navbar {
        display: inline;
        grid-column: 3 / span 1;
    }

    #logo {
        max-width: 170px;
    }

    .om {
        grid-template-columns: auto;
        padding: 2%;
        padding-top: 5%;
    }

    .portrett {
        padding-top: 10%;
    }

    #om-tekst {
        grid-column: 1 / span 1;
    }

    #elias {
        grid-row: 2 / span 1;
    }

    #andreas {
        grid-row: 4 / span 1;
    }

    #tuva {
        grid-row: 6 / span 1;
    }

    .logos {
        grid-template-columns: auto;
    }

    .text {
        font-size: 18px;
    }

    .clockItem {
        font-size: 38px;
    }
}
