:root {
    --background: #ffffff;
    --foreground: #eeeeee;

    --color-mnemonic: #ffd876;
    --color-computas: #fcbf01;
    --color-cisco: #a9d1d9;
    --color-knowit: #0595ad;
    --color-dnb: #c9c7c3;
    --color-bekk: #979590;
}

* {
    font-family: IBM Plex Sans;
}

html {
    background-color: var(--background);
    padding-left: 0px;
    padding-right: 0px;
}

body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

p {
    width: 600px;
}

.hidden {
    display: none;
}

.text {
    font-size: 1.2rem;
    line-height: 1.5;
}

.menu {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 75% 15%;
    background-color: var(--foreground);
}

#user-info {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 3px solid black;
}

#hjem-icon {
    font-size: 5rem;
}

.navbar, .navbar-hidden {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 10% 3% 10% 10% 10% 10% 37%;
    text-align: center;
    background-color: #CCCCCC;
    position: fixed;
    height: 100%;
    width: 20%;
    transition: 0.5s ease;
    top: 0%;
}

.navbar {
    left: 80%;
}
.navbar-hidden {
    left: 100%;
}

.navbar-item {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.8rem;
}

#logo {
    max-width: 70%;
    padding: 6%;
    justify-self: center;
}

#logo-text {
    font-size: 2.8rem;
    font-weight: bold;

    color: #222222;
}

#navbtn {
    cursor: pointer;
    z-index: 1;
    justify-self: center;
    transform: scale(1.5);
}

.navbtn-line {
    transition: 0.5s ease;
    stroke: #555555;
    stroke-width: 4;
}

#first-line-anim {
    transform: rotate(45deg) translate(14px, -7px) scale(0.7);
}
#middle-line-anim {
    transform: translate(50px);
}
#second-line-anim {
    transform: rotate(-45deg) translate(-15px, 6px) scale(0.7);
}

#hjem {
    grid-column: 1 / span 1;
}

#user-status
{
    grid-column: 4 / span 1;
}

#info {
    grid-column: 5 / span 1;
}

#program {
    grid-column: 6 / span 1;
}

#bedrifter {
    grid-column: 7 / span 1;
}

#om {
    grid-column: 8 / span 1;
}

h1 {
    display: inline;
}

/* HJEM */
.hjem {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 33% 33% 34%;
    justify-items: center;
    height: 100%;

    animation-name: fade-in;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

#hjem-header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 3% 0% 3% 0%;
}

#hjem-text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    padding: 0% 0% 8% 0%;
    font-size: 2rem;
    text-align: center;
}

#barcode-anim {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.barcode-item-1 {
    fill: var(--color-mnemonic);
}
.barcode-item-2 {
    fill: var(--color-cisco);
}
.barcode-item-3 {
    fill: var(--color-computas);
}
.barcode-item-4 {
    fill: var(--color-knowit);
}

.inline-link {
    display: inline;
    font-weight: bold;
    text-decoration: underline;
}

.inline-text {
    display: inline;
}


/* INFO */
.info {
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.info-content {
    grid-column: 2 / span 1;
}


/* PROGRAM */
.program {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.program-item {
    margin: 4%;
    margin-top: 8%;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 12% 88%;
    cursor: pointer;
}

.program-content {
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 0rem 0.7rem 0.7rem 0rem;
    padding: 6%;
    transition: background-position 0.7s ease;
}
.program-content:hover {
    background-position: left bottom;
}

.program-text {
    padding-right: 12%;
}

.program-tab {
    border-radius: 0.7rem 0rem 0rem 0.7rem;
}

#mnemonic-tab {
    background-color: var(--color-mnemonic); 
}
#mnemonic-content {
    background-image: linear-gradient(to right, var(--color-mnemonic) 50%, var(--foreground) 50%);
}

#computas-tab {
    background-color: var(--color-computas);
}
#computas-content {
    background-image: linear-gradient(to right, var(--color-computas) 50%, var(--foreground) 50%);
}

#cisco-tab {
    background-color: var(--color-cisco); 
}
#cisco-content {
    background-image: linear-gradient(to right, var(--color-cisco) 50%, var(--foreground) 50%);
}

#knowit-tab {
    background-color: var(--color-knowit);
}
#knowit-content {
    background-image: linear-gradient(to right, var(--color-knowit) 50%, var(--foreground) 50%);
}

#dnb-tab {
    background-color: var(--color-dnb);
}
#dnb-content {
    background-image: linear-gradient(to right, var(--color-dnb) 50%, var(--foreground) 50%);
}

#bekk-tab {
    background-color: var(--color-bekk);
}
#bekk-content {
    background-image: linear-gradient(to right, var(--color-bekk) 50%, var(--foreground) 50%);
}


/* BEDRIFTER */
#bedrifter-content { 
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 5%;
}

.bed-text {
    font-family: IBM Plex Sans;
    font-size: 1.1rem;
    line-height: 1.8;
}

.logo-item, .logo-item-hidden-left, .logo-item-hidden-right {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

    margin-top: 7%;
    width: 80%;
 }

.logo-item {
    position: relative;
    z-index: -1;
    left: 10%;
    opacity: 1.0;
    transition: 1s ease;
}
.logo-item-hidden-left {
    opacity: 0;
    left: -50%;
}
.logo-item-hidden-right {
    opacity: 0;
    left: 100%;
}

.bed-logo {
    max-width: 300px;
    max-height: 175px;
    padding: 20px;
    transition: transform 0.5s;
}
.bed-logo:hover {
    transform: scale(1.2);
}


/* OM */
#om-content {
    padding: 2%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

#om-links {
    font-size: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4%;
}

#linkedinLink {
    background-color: var(--foreground);
    justify-self: right;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.7rem;
}

#githubLink {
    background-color: var(--foreground);
    justify-self: left;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.7rem;
}

.portrett {
    max-width: 50vw;
    max-height: 450px;
    border-radius: 0.7rem;
    cursor: pointer;
}

#om-tekst {
    grid-column: 1 / span 3;
}

#elias {
    grid-row: 2 / span 1;
}

#andreas {
    grid-row: 2 / span 1;
}

#tuva {
    grid-row: 2 / span 1;
}

.navn {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.tittel {
    text-align: center;
}

.hidden-mail {
    text-align: center;
    font-style: italic;
}

.mail {
    text-align: center;
}

#om-tekst {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/* NOT FOUND */
#not-found-header {
    display: block;
    font-size: 4rem;
    text-align: center;
}
#not-found-text {
    text-align: center;
}

/* LOGG INN */
.logg-inn {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    padding: 5%;
}

#logg-inn-content {
    grid-column: 2 / span 1;
}

#countdown {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    padding-top: 2%;
    grid-gap: 15%;

    font-weight: bold;
}

.clock-item {
    font-size: 3.5rem;
}

input[type=text] {
    font-size: 1.5rem;
    transition: border ease 0.4s;
    border: 0.2rem #CCCCCC;
    border-style: hidden hidden solid hidden;
    padding-bottom: 1%;
    padding-top: 1%;
    outline: none;
}
input[type=text]:focus {
    border: 0.2rem #888888;
    border-style: hidden hidden solid hidden;
}

#email, #email-valid, #email-invalid {
    width: 100%;
}
#email-valid {
    border-color: #33CC33;
}
#email-invalid {
    border-color: red;
}

#login-info p {
    width: 100%;
}

/* MIN SIDE */
#min-side-content {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

#min-side-header {
    text-align: center;
    padding-top: 1%;
}

.min-side-item {
    width: 45%;
    margin: 1.5%;
    display: inline;
    overflow: hidden;
}

#err-msg {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2%;
}

#has-ticket-no {
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid red;
    border-radius: 0.5rem;
    padding: 3%;
}
#has-ticket-yes {
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid green;
    border-radius: 0.5rem;
    padding: 3%;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-weight: bold;
}

.checkbox-container {
    overflow: hidden;
}

.unchecked-box {
    fill: none;
    stroke: #bbbbbb;
    stroke-width: 10px;
    transition: transform ease 0.2s;
}
.checked-box {
    fill: none;
    stroke: green;
    stroke-width: 13px;
    transform: translate(-9px, -16px) rotate(34deg);
    transition: transform ease 0.2s;
}

.submit-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

#signout-btn, #save-btn {
    margin: 3%;
}

input[type=button] {
    padding: 1% 5% 1% 5%;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #dddddd;
    border: none;
    border-radius: 0.5rem;
}
input[type=button]:hover {
    background-color: #bbbbbb;
}
input[type=button]:disabled:hover{
    background-color: #dddddd;
}

select {
    overflow: hidden;
    font-size: 1.3rem;
}

/* MOBILE */
@media (max-device-width: 415px), (max-width: 900px) {
    .text {
        font-size: 0.85rem;
    }

    .menu {
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: auto;
    }

    #logo-text {
        display: none;
    }

    #navbtn {
        grid-column: 3 / span 1;
        transform: scale(1.0);
    }

    .navbar {
        width: 50%;
        left: 50%;
    }

    .hjem {
        grid-template-columns: 5% 90% 5%;
        padding-top: 5%;
        animation-iteration-count: 0;
    }

    #hjem-header {
        font-size: 1.7rem;
        padding-bottom: 10%;
    }

    #hjem-text {
        font-size: 1.1rem;
    }

    #user-info {
        margin-left: 0%;
        margin-right: 0%;
    }

    #hjem-icon {
        font-size: 3rem;
    }

    .navbar-item {
        font-size: 1.4rem;
    }

    #barcode-anim {
        transform: scale(0.4);
    }

    .logg-inn {
        grid-template-columns: auto;
    }

    #logg-inn-content {
        grid-column: 1 / span 1;
        justify-self: center;
    }

    #countdown {
        grid-gap: 5%;
    }

    .clock-item {
        font-size: 1.7rem;
    }

    .info {
        grid-template-columns: 5% 90% 5%;
    }

    .min-side-item {
        width: 80%;
    }

    .bed-logo:hover {
        transform: scale(1.0);
    }

    #bedrifter-content {
        justify-items: center;
        padding-bottom: 0%;
    }

    .bed-logo {
        max-width: 100%;
        margin: auto;
        padding: 0%;
    }

    .bed-text {
        display: none;
    }

    .logo-item {
        position: static;
        width: 65%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .program {
        grid-template-columns: auto;
    }

    .day-item {
        padding-bottom: 10%;
    }

    .program-item {
        grid-template-columns: 12% 88%;
    }

    .program-content {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .program-content:hover {
        background-position: right bottom;
    }

    #om-content {
        grid-template-columns: auto;
        padding: 2%;
        padding-top: 5%;
    }

    .om-info {
        padding-bottom: 10%;
    }

    #om-links {
        padding-bottom: 6%;
        grid-gap: 10%;
    }

    #githubLink {
        padding-left: 10%;
        padding-right: 10%;
    }

    #linkedinLink {
        padding-left: 10%;
        padding-right: 10%;
    }

    .portrett {
        margin-top: 6%;
    }

    #om-tekst {
        grid-column: 1 / span 1;
    }

    #elias {
        grid-row: 2 / span 1;
    }

    #andreas {
        grid-row: 4 / span 1;
    }

    #tuva {
        grid-row: 6 / span 1;
    }
}
