:root {
    --background: #ffffff;
    --foreground: #eeeeee;

    --color-mnemonic: #ffd876;
    --color-computas: #fcbf01;
    --color-tba: #a9d1d9;
    --color-knowit: #0595ad;
    --color-dnb: #c9c7c3;
    --color-bekk: #979590;
}

html {
    font-family: IBM Plex Sans;
    background-color: var(--background);
    padding-left: 0px;
    padding-right: 0px;
}

body {
    margin: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

.hidden {
    display: none;
}

#viewport {
    position: fixed;
}

.bed-logo {
    max-width: 300px;
    max-height: 175x;
    padding: 20px;
    transition: transform 0.5s;
}
.bed-logo:hover {
    transform: scale(1.2);
}

#dnb-logo {
    max-width: 250px;
}

.text {
    font-size: 20px;
}

.menu {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 50% 10% 10% 10%;
    background-color: var(--foreground);
}

#navBtn {
    display: none;
    text-align: center;
}

#navbar {
    display: none;
}

#navbar-content {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    background-color: var(--foreground);
    border: 2px solid white;
}

#navbar-content a {
    padding: 15%;
    font-weight: bold;
    border: 2px solid white;
}

.menuItem {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

#logo {
    max-width: 250px;
    padding: 5%;
}

#hjem {
    grid-column: 1 / span 1;
}

#program {
    grid-column: 3 / span 1;
}

#bedrifter {
    grid-column: 4 / span 1;
}

#om {
    grid-column: 5 / span 1;
}

h1.anim-text {
    display: inline;
}

.hjem {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.hjem-content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.clock {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;

    padding-top: 12%;
    font-weight: bold;
}

.clock-item {
    font-size: 50px;
}

#bedrifter-content {
    display: grid;
    grid-template-columns: auto;
}

.bed-text {
    font-family: IBM Plex Sans;
    font-size: 16px;
    line-height: 1.8;
}

.logo-item {
    margin-top: 7%;
    position: relative;
    opacity: 0;
    width: 30%;
}

#meme {
    font-size: 64px;
}

.program {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.program-item {
    margin: 4%;
    margin-top: 8%;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 12% 88%;
}

.program-content {
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 0rem 0.7rem 0.7rem 0rem;
    transition: background-position 0.7s ease;
}
.program-content:hover {
    background-position: left bottom;
}

.program-text {
    padding-right: 12%;
}

.program-tab {
    border-radius: 0.7rem 0rem 0rem 0.7rem;
}

#mnemonic-tab {
    background-color: var(--color-mnemonic); 
}
#mnemonic-content {
    background-image: linear-gradient(to right, var(--color-mnemonic) 50%, var(--foreground) 50%);
}

#computas-tab {
    background-color: var(--color-computas);
}
#computas-content {
    background-image: linear-gradient(to right, var(--color-computas) 50%, var(--foreground) 50%);
}

#tba-tab {
    background-color: var(--color-tba); 
}
#tba-content {
    background-image: linear-gradient(to right, var(--color-tba) 50%, var(--foreground) 50%);
}

#knowit-tab {
    background-color: var(--color-knowit);
}
#knowit-content {
    background-image: linear-gradient(to right, var(--color-knowit) 50%, var(--foreground) 50%);
}

#dnb-tab {
    background-color: var(--color-dnb);
}
#dnb-content {
    background-image: linear-gradient(to right, var(--color-dnb) 50%, var(--foreground) 50%);
}

#bekk-tab {
    background-color: var(--color-bekk);
}
#bekk-content {
    background-image: linear-gradient(to right, var(--color-bekk) 50%, var(--foreground) 50%);
}

#om-content {
    padding: 5%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

#om-links {
    font-size: 82px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
}

#linkedinLink {
    background-color: #EEEEEE;
    justify-self: right;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.7rem;
}

#githubLink {
    background-color: #EEEEEE;
    justify-self: left;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.7rem;
}

.portrett {
    max-width: 250px;
    max-height: 450px;
    border-radius: 0.7rem;
}

#om-tekst {
    grid-column: 1 / span 3;
}

#elias {
    grid-row: 2 / span 1;
}

#andreas {
    grid-row: 2 / span 1;
}

#tuva {
    grid-row: 2 / span 1;
}

.om-info {
    padding-top: 2%;
    padding-bottom: 5%;
}

.navn {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.tittel {
    text-align: center;
}

.mail {
    text-align: center;
}

#om-tekst {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.not-found h1 {
    font-size: 62px;
    text-align: center;
}
.not-found h3 {
    text-align: center;
}

@media (max-device-width: 415px), (max-width: 900px) {
    .menu {
        grid-template-columns: 60% 10% 30%;
        overflow: hidden;
    }

    .menuItem {
        display: none;
    }

    #navBtn {
        display: inline;
        grid-column: 3 / span 1;
    }

    #logo {
        max-width: 170px;
    }

    .program {
        grid-template-columns: auto;
    }

    #om-content {
        grid-template-columns: auto;
        padding: 2%;
        padding-top: 5%;
    }

    #om-links {
        padding-bottom: 3%;
    }

    .portrett {
        margin-top: 10%;
    }

    #om-tekst {
        grid-column: 1 / span 1;
    }

    #elias {
        grid-row: 2 / span 1;
    }

    #andreas {
        grid-row: 4 / span 1;
    }

    #tuva {
        grid-row: 6 / span 1;
    }

    .text {
        font-size: 18px;
    }

    .clock-item {
        font-size: 36px;
    }
    
    .program-item {
        grid-template-columns: 12% 88%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .program-content {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .program-content:hover {
        background-position: right bottom;
    }

    .bed-logo:hover {
        transform: scale(1.0);
    }

    #navbar {
        display: inline;
    }
}
